BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"glomap'
    Priority: 1
  - Regex:    '^<colmap'
    Priority: 2
  - Regex:    '^<[[:alnum:]_]+>'
    Priority: 4
  - Regex:    '.*'
    Priority: 5
SortIncludes: true
